# IDEs
.idea
nbproject
.buildpath
.project
.settings

# Operating systems
Thumbs.db
.DS_Store

# composer
/vendor
composer.lock
composer.phar

# phpunit
phpunit.phar
/phpunit.xml

# App
/config/db.php
/config/params.php
merchium_advanced_app.db
