<?php

return [

    'adminEmail' => 'admin@example.com',
    'applicationName' => 'Merchium Example App',
    'companyName' => 'My Company',

    'userPasswordResetTokenExpire' => 3600,

    /**
     * Application params. Required for installation.
     */
    'appKey' => '',
    'clientSecret' => '',

];
